Repository coolmankid12345/stalker-14-EN, pull requests merged in 2025-08, with the labels that each got.

#38 Faction heads able to manage members/points
  Resources/Prototypes/_Stalker/Roles/Jobs/bands.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/dolg.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/freedom.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/mercenaries.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/sci.yml
Labels: S: Untriaged, Changes: No C#, size/S

#40 Small Duty Buff
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
Labels: S: Untriaged, Changes: No C#, size/S

#44 Monolith Supplys Tweak
  Resources/Locale/en-US/_stalker/entities/objects/economy/crates.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/crates.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/vendors.yml
Labels: S: Untriaged, Changes: No C#

#45 Faction vendor updates
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/merc.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/military.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/renegats.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/Research_Institutes.yml
Labels: S: Untriaged, Changes: No C#, size/L

#46 Adding an armored Duty cloak
  Resources/Locale/en-US/_stalker/entities/objects/clothing/cloak/capes/t4.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T4.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Textures/_Stalker/Objects/Clothing/cloak/dolgchain.rsi/equipped-CLOAK-fat.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/dolgchain.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/dolgchain.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/dolgchain.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/dolgchain.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/dolgchain.rsi/meta.json
Labels: S: Untriaged, size/M

#48 Merc and Duty balancing
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Rifles/aks74.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/merc.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/base-scope.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/equipped-BACKPACК.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/muzzle.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Rifles/A545Dolg.rsi/wielded-inhand-right.png
Labels: S: Untriaged, Changes: No C#, size/M

#50 Clear Skies and Renegades Vendor Back to Normal
  Resources/Prototypes/_Stalker/Entities/Structures/Shops/clearsky.yml
  Resources/Prototypes/_Stalker/Entities/Structures/Shops/renegates.yml
Labels: S: Untriaged, Changes: No C#

#53 adds engraving to most (all?) weapons
  Content.Client/_CD/Engraving/EngraveableSystem.cs
  Content.Server/_CD/Engraving/EngraveableSystem.cs
  Content.Shared/_CD/Engraving/EngraveableComponent.cs
  Content.Shared/_CD/Engraving/SharedEngraveableSystem.cs
  Resources/Locale/en-US/_CD/engraving/engraving.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/base.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Melee/bats.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Melee/hummers.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Melee/knifes.yml
Labels: S: Untriaged, size/L

#54 PP1901 + Swamp Ghillie weight down
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T2.yml
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/military.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#55 Monolithilian Radiation
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Belts/RPC.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/Sphere08.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Legs/pants.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T1/Jacket.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T2/ArmorPlateVestLight.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T3/ArmorSeva.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T4/ArmorBerill5M.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorBulat.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorExoskeleton.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/OuterClothing/T5/ArmorPlateVestHeavy.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Torso/turtlenecks.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: No C#, size/M

#62 renegade buff
  Resources/Locale/en-US/_stalker/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_Stalker/Entities/Mobs/Mutants/T1/flesh.yml
Labels: Changes: No C#, size/S

#68 Craftsman Bag Tweak
  Resources/Maps/_ST/Anomaly/bubble_small.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Belts/crafter_bugs.yml
Labels: S: Untriaged, Changes: No C#, size/XL

#67 Throwing knives fix
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: S: Untriaged, size/M

#74 Chainsaw Engrave
  Resources/Prototypes/_Stalker/Entities/Objects/Tools/tools.yml
Labels: size/XS, Changes: No C#

#71 Skorpion Rename + Fix
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/vz_61_skorpion.ftl
Labels: S: Untriaged, size/XS, Changes: No C#

#72 Balance
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/military.yml
  Resources/Prototypes/_Stalker/ShopPresets/PawnShops/ErjanAlimov.yml
  Resources/Prototypes/_Stalker/ShopPresets/PawnShops/JuryIzvorotin.yml
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/Voensalo.yml
Labels: S: Untriaged, Changes: No C#, size/S

#81 Access Changes
  Resources/Prototypes/_Stalker/Roles/Jobs/militaries.yml
Labels: S: Untriaged, Changes: No C#

#79 PPS 43 weapon
  Resources/Audio/_Stalker/Effects/Guns/pps43.ogg
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/magazines/762x25.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/pps43.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/762x25.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Magazines/tags.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/SMGs/pps43.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/725/pps_magazine.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/725/pps_magazine.rsi/mag-1.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/Ammunition/Magazines/725/pps_magazine.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/base-stock.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/base.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/bolt-open.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/equipped-BACKPACK.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/inhand-right.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/mag-0.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/wielded-inhand-left.png
  Resources/Textures/_Stalker/Objects/Weapons/Guns/SMGs/pps43.rsi/wielded-inhand-right.png
Labels: S: Untriaged, size/L

#83 kukris and chainsaws get engraveable
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Stalker/_Events/Entities/Objects/Weapons/Melee/chainsaw.yml
Labels: S: Untriaged, Changes: No C#

#82 Adding 762x51 mag and ammo to barman
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#88 i need some cat posters dont worry about it
  Resources/Prototypes/_Stalker_EN/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Stalker_EN/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Stalker_EN/Structures/Wallmounts/posters.rsi/poster_cat1.png
  Resources/Textures/_Stalker_EN/Structures/Wallmounts/posters.rsi/poster_cat2.png
  Resources/Textures/_Stalker_EN/Structures/Wallmounts/posters.rsi/poster_cat3.png
Labels: S: Untriaged, Changes: No C#, size/M, Changes: Sprites

#90 Patched the VSS to actually be usable
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Snipers/vss.yml
Labels: S: Untriaged, Changes: No C#

#87 9x39 Mislabel Fix
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/boxes/9x39.ftl
Labels: S: Untriaged, size/XS, Changes: No C#

#85 Skorpion Typo
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/vz_61_skorpion.ftl
Labels: S: Untriaged, Changes: No C#
