Repository coolmankid12345/stalker-14-EN, pull requests merged in 2025-09, with the labels that each got.

#93 BALANCE!!
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/bandsdollar.yml
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/dolgdollar.yml
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/freedomdollar.yml
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/seraphimedollar.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/Research_Institutes.yml
Labels: Changes: No C#, size/S

#98 RPD Nerf - Minor
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/MachineGuns/RPD.yml
Labels: S: Untriaged, Changes: No C#

#94 New mutant: The bayun
  Resources/Audio/_Stalker_EN/Mutants/attributions.yml
  Resources/Audio/_Stalker_EN/Mutants/cat1.ogg
  Resources/Audio/_Stalker_EN/Mutants/cat2.ogg
  Resources/Audio/_Stalker_EN/Mutants/hiss.ogg
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sci_PB.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/caches/trash_detectors.yml
  Resources/Prototypes/_Stalker_EN/Entities/Mobs/Mutants/T1/bayun.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/MutantParts/mutant_parts_EN.yml
  Resources/Prototypes/_Stalker_EN/HTNs/Mutants/bayun.yml
  Resources/Prototypes/_Stalker_EN/SoundCollections/mutants.yml
  Resources/Prototypes/_Stalker_EN/SpawnersNTriggers/Mobs/T1/bayun.yml
  Resources/Textures/_Stalker_EN/Mobs/Mutants/bayun.rsi/alive-overlay.png
  Resources/Textures/_Stalker_EN/Mobs/Mutants/bayun.rsi/alive.png
  Resources/Textures/_Stalker_EN/Mobs/Mutants/bayun.rsi/dead.png
  Resources/Textures/_Stalker_EN/Mobs/Mutants/bayun.rsi/meta.json
  Resources/Textures/_Stalker_EN/Objects/MutantParts/cat_gland.rsi/icon.png
  Resources/Textures/_Stalker_EN/Objects/MutantParts/cat_gland.rsi/meta.json
Labels: Changes: No C#, size/L, Changes: Sprites

#102 Desert eagle
  Resources/Audio/_Stalker_EN/Effects/FarGunshots/attributions.yml
  Resources/Audio/_Stalker_EN/Effects/FarGunshots/deagle_distant.ogg
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/DollarTrader.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Weapons/Guns/Ammunition/Magazines/44.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45acp.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Weapons/Guns/Pistols/DesertEagle.yml
  Resources/Prototypes/_Stalker_EN/Tags/tags.yml
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Ammunition/Magazines/45/deserteagle/15.rsi/base.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Ammunition/Magazines/45/deserteagle/15.rsi/mag-1.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Ammunition/Magazines/45/deserteagle/15.rsi/meta.json
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Ammunition/Magazines/45/deserteagle/8.rsi/base.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Ammunition/Magazines/45/deserteagle/8.rsi/mag-1.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Ammunition/Magazines/45/deserteagle/8.rsi/meta.json
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/_Skins/deserteagle_gold.rsi/base.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/_Skins/deserteagle_gold.rsi/bolt-open.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/_Skins/deserteagle_gold.rsi/inhand-left.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/_Skins/deserteagle_gold.rsi/inhand-right.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/_Skins/deserteagle_gold.rsi/meta.json
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/deserteagle.rsi/base.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/deserteagle.rsi/bolt-open.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/deserteagle.rsi/inhand-left.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/deserteagle.rsi/inhand-right.png
  Resources/Textures/_Stalker_EN/Objects/Weapons/Guns/Pistols/deserteagle.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, size/L, Changes: Sprites

#104 Translations!
  Resources/Locale/en-US/_stalker/entities/objects/clothing/outerclothing/t5/armorplatevestheavy.ftl
  Resources/Locale/en-US/_stalker/entities/objects/decoration/bonfire.ftl
  Resources/Locale/en-US/_stalker/entities/objects/decoration/radio.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/_skins/ak_104.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/tompson.ftl
Labels: S: Untriaged, Changes: No C#, size/S

#108 BALANCE
  Resources/Prototypes/_Stalker/ShopPresets/OUTDATED/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/bandsdollar.yml
  Resources/Prototypes/_Stalker/ShopPresets/dollartraders/mercenarydollar.yml
  Resources/Prototypes/_Stalker/pda.yml
Labels: Changes: No C#

#107 job locale strings again
  Resources/Locale/en-US/_stalker/roles/jobs.ftl
Labels: S: Untriaged, Changes: No C#, size/M

#106 Shop Translations
  Resources/Locale/en-US/_stalker/entities/structures/shops/sci.ftl
  Resources/Locale/en-US/_stalker/npc/_npc.ftl
Labels: S: Untriaged, Changes: No C#

#105 guns don't lie to you anymore
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/magazines/45acp.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/magazines/762x25.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/magazines/9x18.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/magazines/9x19.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/pistols/aps.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/pistols/gsh_18.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/pistols/pm.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/pistols/tec9.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/abakan.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/ak103.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/ak_103.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/aks74.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/aks_74.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/as_val.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/fn_f2000.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/g36.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/galil.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/l85.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/m16.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/m4.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/oc14.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/scar.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/rifles/sig.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/cp2.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/fn_p90.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/mp5.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/smgs/pp91.ftl
Labels: S: Untriaged, Changes: No C#

#118 Labeling Issues
  Resources/Locale/en-US/_stalker/entities/objects/clothing/outerclothing/t3/armorreinger.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/guns/ammunition/boxes/545x39.ftl
Labels: S: Untriaged, size/XS, Changes: No C#

#119 fixing stuff
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Artifact/thermal.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/medkits.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12x70.yml
Labels: S: Untriaged, Changes: No C#

#125 Artifact Storage 1984
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Belts/crafter_bugs.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Other/SpecialStorages.yml
Labels: S: Untriaged, Changes: No C#

#130 Prepare for my arrival.
  Resources/Locale/en-US/_stalker/entities/objects/economy/crates.ftl
  Resources/Locale/en-US/_stalker/entities/objects/economy/vendors.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/crates.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/vendors.yml
Labels: S: Untriaged, Changes: No C#

#129 Labeling Fixing
  Resources/Locale/en-US/_stalker/entities/objects/clothing/hands/gloves.ftl
  Resources/Locale/en-US/_stalker/entities/objects/clothing/outerclothing/t5/armorbulat.ftl
  Resources/Locale/en-US/_stalker/entities/objects/weapons/melee/knifes.ftl
Labels: Changes: No C#

#126 Journalist update
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Clothing/OuterClothing/T1/ArmorSoftReporter.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Clothing/OuterClothing/T2/ArmorReporter.yml
  Resources/Prototypes/_Stalker_EN/Entities/Structures/Shops/journalist.yml
  Resources/Prototypes/_Stalker_EN/ShopPresets/FactionTorgomats/journalist.yml
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest.rsi/icon.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest.rsi/inhand-left.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest.rsi/inhand-right.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest.rsi/meta.json
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest_armored.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest_armored.rsi/icon.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest_armored.rsi/inhand-left.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest_armored.rsi/inhand-right.png
  Resources/Textures/_Stalker_EN/Objects/Clothing/outerClothing/press_vest_armored.rsi/meta.json
Labels: Changes: No C#, size/L, Changes: Sprites

#146 Trash and Repo
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/medicine.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Consumable/medkits.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Storage/medkits.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Consumable/Food/food.yml
Labels: Changes: No C#, size/M

#145 Additional Hair
  Resources/Locale/en-US/_stalker/markings/human.ftl
  Resources/Prototypes/_Stalker_EN/Entities/Mobs/Customization/markings.yml
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_cia2.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_cia3.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_cia4.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_cia5.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_elegantbun.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_flatpressed.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_irs.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_low_bun.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_low_ponytail.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_low_ponytail_alt.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/hair_waver.png
  Resources/Textures/_Stalker_EN/Mobs/Customization/hair.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, Changes: Sprites

#142 Communications
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Ears/chip.yml
  Resources/Prototypes/_Stalker_EN/Entities/Objects/Devices/headset.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/_Stalker_EN/Objects/Other/Keys/crypt_nato.rsi/icon.png
  Resources/Textures/_Stalker_EN/Objects/Other/Keys/crypt_nato.rsi/meta.json
  Resources/Textures/_Stalker_EN/Objects/Other/Keys/crypt_voen.rsi/icon.png
  Resources/Textures/_Stalker_EN/Objects/Other/Keys/crypt_voen.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, size/L, Changes: Sprites
