Repository coolmankid12345/stalker-14-EN, pull requests merged in 2025-04, with the labels that each got.

#7 Removing KKK uniform :D (Mostly)
  Resources/Locale/en-US/_stalker/entities/objects/clothing/cloak/capes/t1.ftl
  Resources/Locale/ru-RU/_stalker/prototypes/entities/objects/clothing/cloak/capes/t1.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T1.yml
  Resources/Prototypes/_Stalker/ShopPresets/Barmen.yml
  Resources/Prototypes/_Stalker/ShopPresets/Clothing_Salesman.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/bands.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/clearsky.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/dolg.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/jaba.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/seraphime.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/stalkers.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/voen.yml
Labels: Changes: No C#, size/M

#9 Mercenary helmet and coat
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/VityazHelmet.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_merc.rsi/equipped-CLOAK.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_merc.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/cloak/coat_merc.rsi/meta.json
  Resources/Textures/_Stalker/Objects/Clothing/hats/Vityaz1Merc.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/Vityaz1Merc.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/Vityaz1Merc.rsi/meta.json
Labels: S: Untriaged, size/M

#10 Merc hood and vityaz icon
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Cloak/Capes/T3.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/Vityaz1Merc.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_mercs.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_mercs.rsi/equipped-HELMET2.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_mercs.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/coat_hat_mercs.rsi/meta.json
Labels: S: Untriaged, size/S

#12 I need drip
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Neck/mantle.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
  Resources/Textures/_Stalker/Objects/Clothing/neck/mantles/merc_mantle.rsi/equipped-NECK.png
  Resources/Textures/_Stalker/Objects/Clothing/neck/mantles/merc_mantle.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/neck/mantles/merc_mantle.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, size/S

#13 Add merc revolver to merc vend
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
Labels: S: Untriaged, Changes: No C#

#14 Map Fixes Underground Cordon
  Resources/Maps/_ST/World/KordonPodzemV42.yml
Labels: S: Untriaged, size/XL

#15 Bar Edit and Casset
  Resources/Audio/_Stalker/Music/Radio/Contributor/MagaHero.ogg
  Resources/Maps/_ST/World/UndegroundWildsBar100radsV31.yml
  Resources/Prototypes/_Stalker/Entities/Objects/Decoration/radio.yml
Labels: S: Untriaged, size/L

#16 Added ammo for mateba
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/renegats.yml
Labels: S: Untriaged, Changes: No C#

#17 Learn to love your neighbour
  Resources/Prototypes/_Stalker/Roles/Jobs/mercenaries.yml
  Resources/Prototypes/_Stalker/ai_factions.yml
Labels: Changes: No C#, size/S

#18 More stock for Mercs, Mili, and Sci
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/merc.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/military.yml
Labels: S: Untriaged, Changes: No C#, size/S

#20 Weed grinding
  Resources/Prototypes/_Stalker/ShopPresets/NikitaAlkash.yml
Labels: Changes: No C#
