Repository coolmankid12345/stalker-14-EN, pull requests merged in 2025-05, with the labels that each got.

#22 Update Eco Kits (Crates)
  Resources/Locale/en-US/_stalker/entities/objects/economy/crates.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Economy/crates.yml
  Resources/Prototypes/_Stalker/ShopPresets/Research_Institutes.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sci_PB.yml
  Resources/Prototypes/_Stalker/ShopPresets/Sidorovich.yml
  Resources/Prototypes/_Stalker/ShopPresets/VadikNarik.yml
Labels: S: Untriaged, Changes: No C#, size/M

#21 Translate Cassettes
  Resources/Locale/en-US/_stalker/entities/objects/decoration/radio.ftl
Labels: S: Untriaged, Changes: No C#, size/L

#23 Freedom Helmet Zenith
  Resources/Prototypes/_Stalker/Entities/Objects/Clothing/Head/T3/AssaultHelmet.yml
  Resources/Prototypes/_Stalker/ShopPresets/factionsTorgomats/freedom.yml
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_freedom.rsi/equipped-HELMET.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_freedom.rsi/icon.png
  Resources/Textures/_Stalker/Objects/Clothing/hats/assault_helm_freedom.rsi/meta.json
Labels: S: Untriaged, size/M

#25 Updated Military Base
  Resources/Maps/_ST/World/KordonPodzemV46.yml
Labels: S: Untriaged, size/XL
