Repository coolmankid12345/stalker-14-EN, pull requests merged in 2025-07, with the labels that each got.

#30 Make science equipment do what it was meant to do.
  Content.Server/_Stalker/ZoneAnomaly/Devices/ZoneAnomalyDestructorComponent.cs
  Content.Server/_Stalker/ZoneAnomaly/Devices/ZoneAnomalyDestructorSystem.cs
  Content.Shared/_Stalker/ZoneAnomaly/InteractionDoAfterEvent.cs
  Resources/Locale/en-US/_stalker/entities/objects/devices/anomaly/destructors/destructors.ftl
  Resources/Prototypes/_Stalker/Entities/Objects/Devices/Anomaly/Destructors/destructors.yml
Labels: S: Untriaged, size/L

#32 Makes emissions actually scary..
  Resources/Prototypes/_Stalker/GameRules/events.yml
Labels: size/XS, Changes: No C#

#35 locale string stuff
  Resources/Locale/en-US/_stalker/job/department.ftl
  Resources/Locale/en-US/_stalker/markings/human.ftl
  Resources/Locale/en-US/_stalker/roles/jobs.ftl
  Resources/Prototypes/_Stalker/Roles/Jobs/Evolvers/evolver.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/Evolvers/pack.yml
  Resources/Prototypes/_Stalker/Roles/Jobs/Evolvers/symbiote.yml
Labels: S: Untriaged, Changes: No C#, size/M
